<p>This the poll detail for the poll_number: 
 {{poll.question}}
</p>
	
<ol type = "circle">
	{% for choice in poll.choice_set.all %}
		<li> {{ choice.choice_text }} </li>
	{% endfor %}
</ol>
	
{% if error_message %} <p><strong>{{ error_message }}</strong></p>{% endif %}
<!--
<form action="{#% url 'poll_votes:votes' poll.id %#}" method = "post">
{#% csrf_token %#}
{#% for choice in poll.choice_set.all %#}
	<input type = "radio" name = "choice" id = "choice{{ forloop.counter }}" value = "{{ choice.id }}" />
	<label for = "choice{{ forloop.counter }}">
	{{ choice.choice_text }}
	</label>
	<br />
{#% endfor %#}
<input type = "submit" value = "Vote" />
</form>

-->


